@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap");
* {
  box-sizing: border-box;
  font-family: "Work Sans";
  margin: 0;
  padding: 0;
}

html {
  /* me permite deslizar cuando hago clic en los links del menu */
  scroll-behavior: smooth;
}

/* Cambio de idioma - button */
.en {
  color: #edf6f9;
}

.es {
  color: #edf6f9;
}

.check {
  position: relative;
  width: 40px;
}

.check:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 20px;
  background-color: #023047;
  border-radius: 20px;
}

.check:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: whitesmoke;
  border-radius: 20px;
  transition: 0.25s;
  border: 2px solid #023047;
  box-sizing: border-box;
}

.check:checked:after {
  left: 20px;
  border: 2px solid #023047;
}

.check:checked:before {
  background: #023047;
}

.idioma {
  /* gap: 20px; */
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 400;
}

.idioma input {
  margin-left: 2px;
  margin-right: 2px;
}

/* MENU */
.contenedor-header {
  background: #001219;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  height: 80px;
}

.contenedor-header header {
  max-width: 90%;
  margin: auto;
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-around;
  align-items: center;
  padding: 15px 20px;
}

.contenedor-header header ul {
  display: flex;
  list-style: none;
}

.contenedor-header header nav ul li a {
  display: flex;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: #edf6f9;
  margin: 0 15px;
  padding: 3px;
  transition: 0.5s;
  text-decoration: none;
}

.contenedor-header header nav ul li a:hover {
  color: #ffb703;
}

.nav-responsive {
  background-color: #023047;
  color: #edf6f9;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

/* SECCION I N I C I O */
.inicio {
  /* color: rgb(0, 29, 61); */
  background: linear-gradient(
      to top,

      rgba(0, 29, 61, 0.3),
      rgba(0, 29, 61, 1)
    ),
    url(img/fondo.jpg);
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.inicio .contenido-banner {
  padding: 20px;
  background-color: #023047;
  max-width: 500px;
  margin: auto;
  text-align: center;
  border-radius: 40px;
  margin-top: 6rem;
}

.inicio .contenido-banner img {
  margin-top: 50px;
  border: 1px solid #003566;
  display: block;
  width: 80%;
  margin: auto;
  border-radius: 100%;
}

.inicio .contenido-banner h1 {
  margin-top: 20px;
  font-size: 42px;
  /* font-family: "Righteous"; */
  font-weight: 500;
}

.inicio .contenido-banner h2 {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 200;
  color: #ffb703;
}

.inicio .contenido-banner .redes a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  /* border: 1px solid #fff; */
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 20px 5px;
  font-size: 20px;
  transition: 0.3s;
}

.inicio .contenido-banner .redes a:hover {
  background-color: #219ebc;
}

.sobremi {
  background-color: #001219;
  color: #edf6f9;
  padding: 50px 20px;
}

.sobremi .contenido-seccion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  margin: auto;
}

.sobremi h2 {
  font-size: 48px;
  /* font-family: "Righteous"; */
  text-align: center;
  padding: 20px 0;
  font-weight: 500;
}

.sobremi .contenido-seccion p {
  font: 18px;
  line-height: 22px;
  margin-bottom: 20px;
  font-weight: 300;
}

.sobremi .contenido-seccion p span {
  color: #ee9b00;
  font-weight: 500;
}

.sobremi .fila {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.sobremi .fila .col {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.sobremi .fila .col h3 {
  font-size: 28px;
  /* font-family: "Righteous"; */
  margin-bottom: 25px;
  font-weight: 500;
}

.sobremi .fila .col ul {
  justify-content: center;

  list-style: none;
}

.sobremi .fila .col ul li {
  margin: 12px 0;
  display: flex;
  font-weight: 300;
}

.sobremi .fila .col ul li strong {
  display: inline-block;
  color: #ee9b00;
  width: 100px;
  font-weight: 300;
}

.sobremi p {
  text-align: justify;
}

.sobremi .fila .col ul li span {
  background-color: #023047;
  padding: 2px 8px;
  font-weight: 500;
  border-radius: 5px;
}

.sobremi .fila .col .contenedor-intereses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sobremi .fila .col .contenedor-intereses .interes {
  width: 100px;
  height: 100px;
  background-color: #023047;
  border-radius: 10px;
  margin: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.sobremi .fila .col .contenedor-intereses .interes:hover {
  background-color: #005f73;
}

.sobremi .fila .col .contenedor-intereses .interes i {
  font-size: 30px;
  margin-bottom: 10px;
}

.sobremi .fila .col .contenedor-intereses .interes span {
  color: #ee9b00;
  font-weight: 300;
}

.sobremi button {
  cursor: pointer;
  background-color: transparent;
  border: 0.1px solid #edf6f9;
  border-radius: 5px;
  width: 250px;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: #fff;
  position: relative;
  z-index: 10;
}

.sobremi button .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #005f73;
  z-index: -1;
  transition: 1s;
}

.sobremi button:hover .overlay {
  width: 100%;
}

/* SECCION PORTFOLIO */
.portfolio {
  background-color: #023047;
  color: #fff;
  padding: 60px 20px;
}
.portfolio .contenido-seccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1100px;
  margin: auto;
}
.portfolio h2 {
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  padding: 20px 0;
}
.portfolio .galeria {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.portfolio .galeria .proyecto {
  position: relative;
  max-width: 500px;
  text-align: justify;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #001219;
  border-radius: 10px;
  padding: 10px 10px;
}

.portfolio .galeria .proyecto .video-countries {
  width: 90%;
  margin-top: 10px;
  opacity: 0.5;
  transition: 1s;
}

.video-countries:hover {
  opacity: 1;
  transition: 1.5s;
}

.portfolio .galeria .proyecto iframe {
  width: 100%;
  height: 250px;
  margin-bottom: 5px;
  cursor: pointer;
}

.img_i {
  max-width: 400px;
  height: 250px;
}

.portfolio .galeria .proyecto img {
  width: 100%;
  display: block;
}

.portfolio .galeria .proyecto h3 {
  margin-bottom: 15px;
  /* font-family: "Righteous"; */
  font-size: 30px;
  font-weight: 500;
  color: #ee9b00;
}

.portfolio .galeria .proyecto .textD {
  font-weight: 200;
  line-height: 22px;
  margin: 0 15px;
}

/* SECCION CURRICULUM */
.curriculum {
  background-color: #001219;
  color: #edf6f9;
  padding: 50px 20px;
}
.curriculum .contenido-seccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1100px;
  margin: auto;
}

.curriculum h2 {
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  padding: 20px 0;
}
.line {
  background-color: #ee9b00;
  height: 1px;
  width: 90%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: -15px;
}

.curriculum .fila {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}
.curriculum .fila .col {
  width: 49%;
  padding: 0 20px;
}
.curriculum .fila .col h3 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;

  margin-bottom: 25px;
}
.curriculum .fila .izquierda {
  border-right: 2px solid #ee9b00;
}
.curriculum .fila .derecha {
  border-left: 2px solid #ee9b00;
}
.curriculum .fila .item {
  padding: 25px;
  margin-bottom: 30px;
  background-color: #023047;
  position: relative;
}
.curriculum .fila .item h4 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
.curriculum .fila .item .casa {
  color: #ee9b00;
  font-size: 22px;
  font-weight: 400;
  display: block;
}
.curriculum .fila .item .fecha {
  display: block;
  color: #ee9b00;
  margin-bottom: 10px;
  font-weight: 300;
}
.curriculum .fila .item p {
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
}
.curriculum .fila .izq {
  border-right: 2px solid #ee9b00;
  margin-right: 20px;
}
.curriculum .fila .der {
  border-left: 2px solid #ee9b00;
  margin-left: 20px;
}
.curriculum .fila .item .conectori {
  height: 2px;
  background-color: #ee9b00;
  width: 47px;
  position: absolute;
  top: 50%;
  right: -47px;
  z-index: 5;
}
.curriculum .fila .item .conectori .circuloi {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #ee9b00;
  float: right;
  position: relative;
  bottom: 4px;
}
.curriculum .fila .item .conectord {
  height: 2px;
  background-color: #ee9b00;
  width: 47px;
  position: absolute;
  top: 50%;
  left: -47px;
  z-index: 5;
}
.curriculum .fila .item .conectord .circulod {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #ee9b00;
  float: left;
  position: relative;
  bottom: 4px;
}

/* SECCION S K I L L S */

.skills {
  background-color: #023047;
  color: #edf6f9;
  padding: 80px 20px;
}

.skills .contenido-seccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1100px;
  margin: auto;
}

.skills h2 {
  font-size: 48px;
  text-align: center;
  font-weight: 500;
  padding: 20px 10x;
  margin-bottom: 30px;
}

.skills h3 {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  padding: 20px 0;
}
.skills .fila {
  display: flex;
}
.skills .fila .col {
  width: 50%;
  padding: 0 20px;
}

.col_skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.row_skills {
  width: 100%;

  justify-content: space-around;
}

.row_a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 175px;
}
.container_L {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: flex-start; */
  background-color: green;
}

.row_a_s {
  padding-right: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 290px;
  height: 200px;
  text-align: center;
}
.row_a_s div {
  margin: 10px;
  color: #ee9b00;
  font-weight: 500;
  font-size: large;
}

.row_a_s .con_in {
  padding-right: 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col_a {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.con_in {
  padding-left: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.con_in div {
  font-weight: 500;
}

.con_in_a {
  padding-right: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.con_in_a div {
  font-weight: 500;
}

.con_in div {
  width: 8rem;
  color: #ee9b00;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
  font-size: large;
}
.con_in_a div {
  width: 8rem;
  color: #ee9b00;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
  font-size: large;
  text-align: end;
}

/* SECCION CONTACTO */
.contacto {
  background-image: url(img/contact_bg.png);
  background-color: #001219;
  color: #edf6f9;
  padding: 50px 0;
}
.contacto .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}
.contacto h2 {
  font-size: 48px;
  text-align: center;
  padding: 20px 0;
  font-weight: 500;
}
.contacto .fila {
  display: flex;
}
.contacto .col {
  /* width: 50%; */
  font-size: 15px;
  flex: 1;
  padding: 10px;
  position: relative;
}
form input {
  font-weight: 300;
}

.contacto .col input,
.contacto .col textarea {
  display: block;
  width: 100%;
  padding: 18px;
  border: none;
  margin-bottom: 20px;
  background-color: #023047;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}

.contacto button {
  cursor: pointer;
  background-color: transparent;
  border-radius: 2px;
  border: 0.1px solid #edf6f9;
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: #edf6f9;
  position: relative;
  z-index: 10;
  gap: 5px;
  font-weight: 300;
}

.contacto button .overlay {
  position: absolute;

  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #023047;
  z-index: -1;
  transition: 1s;
}

.contacto button:hover .overlay {
  width: 100%;
}

.contacto .col img {
  min-height: 400px;
  width: 100%;
}
.contacto .col .info {
  position: absolute;
  top: 40%;
  background-color: #001219;
  padding: 20px;

  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
  font-size: 15px;
}

.contacto .col .info ul {
  list-style: none;
}

.contacto .col .info ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  text-align: center;
  margin-bottom: 20px;
}

.contacto .col .info ul li i {
  color: #ee9b00;
  display: inline-block;
  margin-right: 20px;
}

.link {
  text-decoration: none;
}

footer {
  background-color: #023047;
  color: #edf6f9;
  padding: 50px 0 30px 0;
  text-align: center;
  position: relative;
  width: 100%;
}
footer .redes {
  margin-bottom: 20px;
}
footer .redes a {
  background-color: #001219;
  color: #edf6f9;
  display: inline-block;
  text-decoration: none;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 40px 5px;
  font-size: 20px;
  transition: 0.3s;
}

footer .arriba {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #ee9b00;
  color: #001219;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -25px;
  border-radius: 50%;
  line-height: 50px;
  font-size: 18px;
}

.image-row {
  display: flex;
  gap: 2px;
  max-width: 100%;
  margin: 0 auto;
  cursor: pointer;
  overflow: unset;
  white-space: nowrap;
  justify-content: center;
  position: relative;
}

.image-row img {
  width: 0;
  flex: 1;
  margin: 0 1px;
  /* flex: 1 0 auto; */
  max-width: 12%;
  height: 250px;
  object-fit: cover;
  transition: 0.6s ease;
  opacity: 0.8;
}

.image-row img:hover {
  z-index: 10; /* Aumenta el nivel de superposición */
  object-fit: cover;
  max-width: 100%;
  opacity: 1;
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 980px) {
  nav {
    display: none;
  }
  .nav-responsive {
    display: block;
  }
  nav.responsive {
    display: block;
    position: absolute;
    right: 0;
    top: 75px;
    background-color: #023047;
    width: 180px;
  }
  nav.responsive ul {
    display: block !important;
  }
  nav.responsive ul li {
    border-bottom: 1px solid #ee9b00;
    padding: 10px 0;
  }
}
@media screen and (max-width: 700px) {
  .inicio .contenido-banner {
    border-radius: 0;
    align-content: center;
    height: 84%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 700px) {
  .sobremi .fila {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sobremi .fila .col {
    width: fit-content;
  }
  .sobremi .fila .col h3 {
    display: flex;
    justify-content: center;
  }
  .sobremi .fila .col .contenedor-intereses {
    display: flex;
    justify-content: center;
  }

  .skills .col_a {
    display: block;
  }
  .skills .col_a {
    width: 100%;
  }
  .skills .col_a {
    width: 100%;
  }
  .skills .row_a_s {
    justify-content: center;
    width: 100%;
  }

  .curriculum .fila {
    display: block;
  }
  .curriculum .fila .col {
    width: 90%;
  }
  .curriculum .fila .derecha {
    margin-left: 20px;
  }

  .portfolio .galeria {
    display: block;
    width: 100%;
  }
  .portfolio .galeria .proyecto {
    max-width: 100%;
  }
  .portfolio .galeria .proyecto .video-countries {
    max-width: 150%;
  }
  .portfolio .galeria .proyecto iframe {
    max-width: 100%;
    max-height: 200px;
  }

  .contacto .fila {
    display: block;
  }

  .contacto .fila .col {
    width: 100%;
  }
}
